body {
	margin: 0;
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
	background-color: #f2f2f2;
	color: #333;
}

.container {
	margin: 0 auto;
	max-width: 800px;
	background-color: #fff;
	padding: 20px 40px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.contact {
  margin-bottom: 40px;
}

.logo {
  height: 122px;
  margin-left: -8px;
}

form {
	flex-direction: row;
	align-items: center;
	margin-top: 10px;
}

label {
	margin-top: 20px;
}

ul {
  list-style-type: none;
  padding-left: 1em;
}

input[type="email"] {
	padding: 10px;
	border-radius: 5px;
	border: none;
	margin-bottom: 10px;
	width: 60%;
	max-width: 400px;
	background-color: #f2f2f2;
	color: #333;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

input[type="submit"] {
	background-color: #ff008a;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
  margin-left: 10px;
}

input[type="submit"]:hover {
  background-color: #ff78ae;
}

.footer {
  text-align: center;
}

@media screen and (max-width: 600px) {
	.container {
		padding: 10px;
	}
}

@font-face {
  font-family: 'Open Sans';
  src: url('OpenSans-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

